<div class="container mt-4" id ="home-container">
	<div class="jumbotron text-center text-white" >
		 <h1 class="display-4 ">Welcome to the About page</h1>
		 <p class="lead">Here is about the Bloggers who want to write articles.</p>
		 <hr class="my-4">
		 <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		   <%= link_to "Home", root_path, class: "btn btn-outline-dark btn-lg text-white"  %>
	</div>
</div>